.content {
    padding: 50px;

}

.content h1,
h2 {
    text-align: center;
    color: var(--text);
    margin: 30px 30px;
}

.dices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--details);
    border-radius: 15px;
}



.dices img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: var(--text);
    min-height: 600px;
    border-radius: 15px;
    border: 1px solid var(--text);
}


.poll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    border: 2px solid #161a1d;
    border-radius: 18px;
    padding: 20px;
    margin-top: 20px;
    background-color: #161a1d;
    min-height: 120px;
    color: var(--details);
}


.poll>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modificador {
    font-size: 34px;
    font-weight: bold;
    width: 90px;
    padding: 10px;
    text-align: center;
}

.numeros {
    font-size: 34px;
    font-weight: bold;
    width: 28px;
}

input[type="number"] {
    font-size: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 28px;
    border-radius: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.logs-title {
    text-align: center;
    color: var(--text);
}